# AVALIAÇÂO MÓDULO 2

In [1]:
import sqlite3

In [3]:
nome = 'escola.db'

In [4]:
script_alunos = """CREATE TABLE IF NOT EXISTS Alunos (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                email TEXT NOT NULL
            );"""

try:
    with sqlite3.connect(nome) as conn:
        cur = conn.cursor()
        cur.execute(script_alunos)
        conn.commit()

        print("Tabelas Criadas com Sucesso")
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

Tabelas Criadas com Sucesso

In [5]:
sql = "INSERT INTO Alunos (nome, idade, email) VALUES (?,?,?)"

try:
    with sqlite3.connect(nome) as conn:
        cur = conn.cursor()
        cur.execute(sql, ('Kauã ', 17, 'kf2008@gmail.com'))
        conn.commit()        

except sqlite3.OperationalError as e:
    print("ERRO: ", e)

In [8]:
sql = "SELECT * FROM Alunos"

try:
    with sqlite3.connect(nome) as conn:
        cur = conn.cursor()
        cur.execute(sql)
        res = cur.fetchall()

        print(res)
except sqlite3.OperationalError as e:
    print("ERRO: ", e)
    
    for i in res:
        print(i['nome'])

[(9, 'Kauã ', 17, 'kf2008@gmail.com')]

In [7]:
sql = "DELETE FROM Alunos WHERE id = ?"

try:
    with sqlite3.connect(nome) as conn:
        cur = conn.cursor()
        cur.execute(sql, (8,))
        conn.commit()

except sqlite3.OperationalError as e:
    print("ERRO: ", e)